<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.15.1" targetFramework="net451" />
  <package id="FSharpx.Core" version="1.8.32" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
</packages>