<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net451" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.14.0" targetFramework="net451" />
  <package id="FSharpx.Core" version="1.8.32" targetFramework="net451" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
</packages>