<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net451" />
  <package id="FSharp.Charting" version="0.90.13" targetFramework="net451" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.13.4" targetFramework="net451" />
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net45" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
</packages>