<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)Wrappers\Templates\Reusable.ttinclude" #>

namespace Funq.Collections
{
	<# this.PushIndent("\t");#>
	<#= ParameterizedTemplate.MapLikeClass.Process(
		this.Host, MapLikeClass => "FunqMap", 
		HandlerObject => "IEqualityComparer",
		CurrentHandler => "_equality"
   )#>
	<# this.PopIndent();#>
}