<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)Wrappers\Templates\Reusable.ttinclude" #>

namespace Funq
{
	<# this.PushIndent("\t");#>
	<#= ParameterizedTemplate.ListLikeClass.Process(this.Host, ListLikeClass => "FunqVector")#>
	<# this.PopIndent();#>
}