<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)Wrappers\Immutable\Templates\Reusable.ttinclude" #>

namespace Imms
{
	<# this.PushIndent("\t");#>
	<#= ParameterizedTemplate.ListLikeClass.Process(this.Host, ListLikeClass => "ImmVector")#>
	<# this.PopIndent();#>
}