<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)Wrappers\Templates\Reusable.ttinclude" #>

namespace Funq.Collections
{
	<# this.PushIndent("\t");#>
	<#= ParameterizedTemplate.OrderedMapLikeClass.Process(
		this.Host, 
		OrderedMapLikeClass => "FunqOrderedMap", 
		HandlerObject => "IComparer",
		CurrentHandler => "Comparer"
   )#>
	<# this.PopIndent();#>
}